@mixin border-thing($bc: "white") {
  border-radius: 10px;
  border-width: 2px;
  background-color: $bc;
  border-color: black;
  border-style: dashed;
}

// .assessment-container {
//   @include border-thing(pink);
// }

.section-container {
  // @include border-thing;
  margin: 10px;
  width: 1000px;
  display: inline;
  float: left;
}

.question-container {
  // @include border-thing;
  margin: 10px;
  width: 100%;
  display: inline;
  float: left;
}

// .parts-row {
//    @include border-thing;
//   // float: left;
// }

.part-ref {
  // @include border-thing;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  min-height: 100px;
  width: 100px;
  float: left;
}

.part-prompt {
  font-size: 20px;
}

.options-row {
  // @include border-thing(pink);

  min-height: 100px;
  // display: grid;
}

.part-option {
  // @include border-thing;
  // background: bisque;
  min-height: 100px;
  min-width: 100px;
  float: inline-end;
}
