<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="push-left-20">{{ title }}</span>

  <span class="example-spacer"></span>

  <button
    mat-icon-button
    routerLink="/home"
    routerLinkActive="active"
    class="example-icon favorite-icon"
    aria-label="Home icon-button with house icon"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/assessment-container"
    routerLinkActive="active"
    class="example-icon favorite-icon"
    aria-label="Assessment icon-button with heart icon"
  >
    <mat-icon>quiz</mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/gizmos"
    class="example-icon favorite-icon"
    aria-label="Gizmos test page"
  >
    <mat-icon> widgets </mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/vexflow"
    class="example-icon favorite-icon"
    aria-label="VexFlow tests icon-button with music_note icon"
  >
    <mat-icon>music_note</mat-icon>
  </button>

  <button
    mat-icon-button
    routerLink="/layouts"
    class="example-icon favorite-icon"
    aria-label="CSS Layouts tests icon-button with music_note icon"
  >
    <mat-icon> table_rows_narrow </mat-icon>
  </button>
</mat-toolbar>
