<div class="drag-and-drop-container">
  <span class="drag-site">
    <img
      class="img-border"
      [src]="dragImage"
      cdkDrag
      (cdkDragStarted)="cdkDragStarted($event)"
      (cdkDragMoved)="cdkDragMoved($event)"
      (cdkDragReleased)="cdkDragReleased($event)"
      (cdkDragDropped)="cdkDragDropped($event)"
    />
  </span>

  <span>
    <img
      [src]="dropImage"
      (cdkDropListEntered)="cdkDropListEntered($event)"
      (cdkDropListExited)="cdkDropListExited($event)"
      (cdkDropListDropped)="cdkDropListDropped($event)"
    />
  </span>
</div>

<div class="result">
  {{ result }}
</div>
