.container {
  display: flex;
  flex-direction: row;
}

.assesssment-button {
  background-color: white;
  width: 2rem;
  height: 2rem;
  margin: 0.2rem;

  &.answered {
    background-color: lightgray;
    color: black;
  }
}
