
<h2>Squares in a column</h2>
<div class="option-container column">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

<h2>Squares in a row</h2>
<div class="option-container row">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>


<h2>Options in a column</h2>
<div class="option-container column">
  <div class="option">
    <div class="answer">
      <img src="assets/assessments/grade5/images/questions/1.1.a.jpg" />
    </div>
    <div class="control"><input type="radio" value="1" /></div>
  </div>

  <div class="option">
    <div class="answer">
      <img
        src="
assets/assessments/grade5/images/questions/1.1.b.jpg"
      />
    </div>
    <div class="control"><input type="radio" value="2" /></div>
  </div>

  <div class="option">
    <div class="answer">
      <img
        src="
assets/assessments/grade5/images/questions/1.1.c.jpg"
      />
    </div>
    <div class="control"><input type="radio" value="2" /></div>
  </div>
</div>

<h2>Options in a row</h2>
<div class="option-container row">
  <div class="option">
    <div class="answer">
      <img src="assets/assessments/grade5/images/questions/1.1.a.jpg" />
    </div>
    <div class="control"><input type="radio" value="1" /></div>
  </div>

  <div class="option">
    <div class="answer">
      <img
        src="
assets/assessments/grade5/images/questions/1.1.b.jpg"
      />
    </div>
    <div class="control"><input type="radio" value="2" /></div>
  </div>

  <div class="option">
    <div class="answer">
      <img
        src="
assets/assessments/grade5/images/questions/1.1.c.jpg"
      />
    </div>
    <div class="control"><input type="radio" value="2" /></div>
  </div>
</div>
