<div class="container">
  <div class="drag-palette">
    <img
      #draggableElements
      *ngFor="let dragImage of dragImages"
      #draggableElement
      class="draggable"
      draggable="true"
      [attr.data-image]="dragImage"
      [src]="dragImage"
    />
  </div>

  <div #droppableElement class="droppable">
    <div>
      <img class="drop-img" [src]="dropImage" />
    </div>
  </div>
</div>

<div>
  <h5>{{ gizmoInstance }}</h5>

  <button type="button" mat-button (click)="answer()">Answer</button>
</div>
