.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: stretch;
  height: 80%;

  &.buttons {
    background-color: orange;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: lightgray;
  height: 50px;
  width: 100%;
}

.question-number {
  font-size: xx-large;
  border: 1px solid black;
  background-color: lightgrey;
}

.question-container {
  height: 100%;
  width: 100%;

  padding: 30px
}
