<!--  <mat-drawer-container class="example-container" autosize>
<mat-drawer #drawer class="example-sidenav" mode="side">
  <p>Auto-resizing sidenav</p>
</mat-drawer>

<div class="example-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>

  <app-assessment></app-assessment>
</div>
</mat-drawer-container> -->

<div class="container">
  <div class="buttons">
    <button type="button" mat-button (click)="loadSectionSpec(1)">
      Load Section 1
    </button>

    @if (currentSectionSpec) {
    <button type="button" mat-button (click)="previousQuestion()">
      Previous
    </button>
    <button type="button" mat-button (click)="nextQuestion()">Next</button>
    <button type="button" mat-button (click)="finishTest()">Finish Test</button>
    }
  </div>

  @if (currentSectionSpec) {
  <div class="question-number">
    Question {{ currentQuestionNumber }}, Section
    {{ currentSectionSpec.sectionName }}
  </div>
  <div [innerHTML]="html"></div>
  @if (currentQuestionSpec?.gizmo) { @switch (currentQuestionSpec?.gizmo) {
  @case ('drag-and-drop') {
  <app-drag-and-drop-gizmo
    [dragImages]="currentQuestionSpec?.draggables"
    [dropImage]="currentQuestionSpec?.droppable"
    (answerEvent)="onAnswerEvent($event)"
    [answerData]="answerData"
  ></app-drag-and-drop-gizmo>
  } @case ('multiple-choice-list') {
  <app-multiple-choice-list-gizmo
    [options]="currentQuestionSpec?.options"
    (answerEvent)="onAnswerEvent($event)"
    [answerData]="answerData"
  ></app-multiple-choice-list-gizmo>
  }
  <!-- [optionsData]="loadJsonFile(currentQuestionSpec?.optionsDataFile) | async" -->
  @case ('multi-multi') {
  <app-multi-multi-gizmo
    [optionsData]="optionsData"
    (answerEvent)="onAnswerEvent($event)"
    [answerData]="answerData"
  ></app-multi-multi-gizmo>
  } } } }

  <div class="footer">

    <app-question-nav [sectionSpec]="currentSectionSpec" (questionClickEvent)="onQuestionNavQuestionClicked($event)"></app-question-nav>

  </div>
</div>
