<!--  <app-drag-and-drop></app-drag-and-drop>  -->

<!--  <h1>JS Drag and Drop</h1>
<app-js-drag-and-drop></app-js-drag-and-drop>  -->

<h1>JS Drag and Drop ChatGPT</h1>
<app-js-drag-and-drop-chatgpt [gizmoInstance]="1"></app-js-drag-and-drop-chatgpt>
<app-js-drag-and-drop-chatgpt [gizmoInstance]="2"></app-js-drag-and-drop-chatgpt>
<!--
<div class="outer" id="outer">
  <div class="draggables">
    <div
      id="inner"
      class="inner"
      (cdkDragReleased)="cdkDragReleased($event)"
      (cdkDragStarted)="cdkDragStarted($event)"
      cdkDrag
    ></div>
  </div>
  <div class="dropables">
    <img id="drop-img" #droppable [src]="dropImage" />
  </div>
</div>

<button mat-button mat-raised-button color="primary" (click)="moveInner()">
  Increment By 10px
</button>

<button mat-button mat-raised-button color="primary" (click)="recordXY()">
  Record x,y
</button>

<button mat-button mat-raised-button color="primary" (click)="resetXY()">
  Reset x,y
</button>

<button mat-button mat-raised-button color="primary" (click)="repositionXY()">
  Reposition x,y
</button>

<button mat-button mat-raised-button color="primary" (click)="showXY()">
  Show x,y
</button>

<button mat-button mat-raised-button color="primary" (click)="loadXY()">
  Load x,y
</button>

<div>Saved : {{ savedX }}, {{ savedY }}</div>
<div>Released : {{ releasedX }}, {{ releasedY }}</div>
<div>Current State : {{ currentState }}</div>
-->
