<!--  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <app-assessment></app-assessment>
  </div>
</mat-drawer-container> -->

<div class="container">
  <div class="buttons">
    <button type="button" mat-button (click)="loadSection(1)">
      Load Section 1
    </button>

    <button type="button" mat-button (click)="previousQuestion()">
      Previous
    </button>

    <button type="button" mat-button (click)="nextQuestion()">Next</button>
  </div>

  <div>{{ currentQuestionNumber }}</div>

  <div [innerHTML]="html"></div>

  <ng-container *ngIf="currentQuestion?.gizmo">
    <container-element [ngSwitch]="currentQuestion?.gizmo">
      <app-drag-and-drop-gizmo
        *ngSwitchCase="'drag-and-drop'"
        [dragImages]="currentQuestion?.draggables"
        [dropImage]="currentQuestion?.droppable"
      ></app-drag-and-drop-gizmo>
    </container-element>
  </ng-container>
</div>
