.container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: stretch;
  height: 80%;

  &.buttons {
    background-color: orange;
    display: flex;
    flex-direction: column;;
  }
}
