<!--  <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>

    <app-assessment></app-assessment>
  </div>
</mat-drawer-container> -->

<div class="container">
  <div class="buttons">
    <button type="button" mat-button (click)="loadSectionSpec(1)">
      Load Section 1
    </button>

    <ng-container *ngIf="currentSectionSpec">
      <button type="button" mat-button (click)="previousQuestion()">
        Previous
      </button>

      <button type="button" mat-button (click)="nextQuestion()">Next</button>
    </ng-container>
  </div>

  <ng-container *ngIf="currentSectionSpec">
    <div class="question-number">
      Question {{ currentQuestionNumber }}, Section
      {{ currentSectionSpec.sectionName }}
    </div>

    <div [innerHTML]="html"></div>

    <ng-container *ngIf="currentQuestionSpec?.gizmo">
      <container-element [ngSwitch]="currentQuestionSpec?.gizmo">
        <app-drag-and-drop-gizmo
          *ngSwitchCase="'drag-and-drop'"
          [dragImages]="currentQuestionSpec?.draggables"
          [dropImage]="currentQuestionSpec?.droppable"
          (answerEvent)="onAnswerEvent($event)"
          [answerData]="answerData"
        ></app-drag-and-drop-gizmo>

        <app-multiple-choice-list-gizmo
          *ngSwitchCase="'multiple-choice-list'"
          [options]="currentQuestionSpec?.options"
          (answerEvent)="onAnswerEvent($event)"
          [answerData]="answerData"
        ></app-multiple-choice-list-gizmo>
      </container-element>
    </ng-container>
  </ng-container>
</div>
